.cart-item {
  display: flex;
  border: none;
  padding: 10px 15px;
  margin-bottom: 12px;
}
table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.cart-item img {
  flex: 2;
  height: 250px;
  width: 100%;
}
/*
.cart-item .info {
  flex: 5;
}
.cart-item .price,
.cart-item .quantity {
  flex: 1;
}
.cart-item .total {
  flex: 2;
}
.cart-item button {
  flex: 1;
}
*/
.encabezado {
  background-color: #eb410c;
  color: white;
}
th,
td {
  padding: 20px;
}
